@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 272 100% 95%;
  --foreground: 272 5% 7%;
  --card: 272 50% 90%;
  --card-foreground: 272 5% 10%;
  --popover: 272 100% 95%;
  --popover-foreground: 272 100% 7%;
  --primary: 272 61% 52%;
  --primary-foreground: 0 0% 100%;
  --secondary: 272 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 234 30% 85%;
  --muted-foreground: 272 5% 35%;
  --accent: 234 30% 80%;
  --accent-foreground: 272 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 272 5% 90%;
  --border: 272 30% 50%;
  --input: 272 30% 18%;
  --ring: 272 61% 52%;
  --radius: 1rem;
}
.dark {
  --background: 272 50% 7%;
  --foreground: 272 5% 90%;
  --card: 272 50% 7%;
  --card-foreground: 272 5% 90%;
  --popover: 272 50% 5%;
  --popover-foreground: 272 5% 90%;
  --primary: 272 61% 52%;
  --primary-foreground: 0 0% 100%;
  --secondary: 272 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 234 30% 15%;
  --muted-foreground: 272 5% 60%;
  --accent: 234 30% 15%;
  --accent-foreground: 272 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 272 5% 90%;
  --border: 272 30% 18%;
  --input: 272 30% 18%;
  --ring: 272 61% 52%;
  --radius: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* ---- Scrollbar ----- */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #361d40; /* Primary color: purple */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6d2c7e; /* Darker shade of purple */
}

/* fading of the text */
.fade-out {
  position: relative;
  overflow: hidden;
}

.fade-text {
  max-height: 4.5rem; /* Adjust height based on the amount of text you want to show */
  overflow: hidden;
  position: relative;
}

.fade-text::after {
  content: "";
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.5rem; /* Height of the fade effect */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    var(--background)
  );
}
